<!DOCTYPE html>
<html>
<head>
    <style>

        tr.table1:hover { background-color : #89ae37; }

        table.table1 {
        border-collapse: collapse;
        border: 2px solid black;
        width: 100%;
        }

        table, th.table1 {
        border: 2px solid black;
        }

        table, td.outside {
        border: 0;
        }

        table, td {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        }
        table, td.login {
        border: 0;
        }

        table.table2 {border: 0;  width: 100%;}
        table.outside {border: 0; width: 60%;}

        table.login {border: 0;}


    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
console.log(csrftoken);

//Ajax call
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


$(document).ready(function(){
$("input[name='room']").change(function(){
    // Do something interesting here
    room_name = $( "input[name='room']:checked" ).val();
    $.getJSON("roomdetails",
        {
          type: "room_details",
          room_name: room_name,
        },
        function(data){
        var r = new Array(), j = -1;
        r[++j] ='<tr>';
        r[++j] ='<th class="table1">Now Playing</th>';
        r[++j] ='<th class="table1">Ping</th>'
        r[++j] ='<tr>';
          $.each(data, function(key, val){
              r[++j] ='<tr>';
              r[++j] ='<td>';
              r[++j] = val.player;

              r[++j] ='</td>';
              r[++j] ='<td>';
              r[++j] = val.ping;
              r[++j] ='</td>';
              r[++j] = '</tr>';
           });
        $('#playersTable').html(r.join(''));




        });
});
});
</script>
</head>
<body>
<h1 style="color:black;margin-left:30px;">Choose your login and join!</h1>
<form action="admin/">
<table class="outside">
    <tr>
        <td class="outside">
            <table class="login">

                <tr>
                    <th>Login</th>
                </tr>
                <tr>
                    <td class="login"><input type="edit" name="login" value="dal" id="login"/></td>

                    <td class="login"><input type="submit" value="JOIN"/></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="outside">
            <table class="table1">
                <tr>
                    <th class="table1">Room</th>
                    <th class="table1">Map</th>
                    <th class="table1">Players</th>
                    <th class="table1">Ping</th>
                </tr>
                {% for room in rooms %}
                <tr class="table1">
                    {% if forloop.first %}
                    <td><input type="radio" name="room" value="{{ room.name }}" checked/>{{ room.name }}</td>
                    {% else %}
                    <td><input type="radio" name="room" value="{{ room.name }}" />{{ room.name }}</td>
                    {% endif %}
                    <td>{{ room.mapname }}</td>
                    <td>{{ room.players }}</td>
                    <td>{{ room.ping }}</td>


                </tr>
                {% endfor %}

            </table>
        </td>
        <td class="outside">
            <table class="table1" id="playersTable">
                <tr>
                    <th class="table1">Now Playing</th>
                    <th class="table1">Ping</th>
                </tr>
                <tr>
                    <td>player</td>
                    <td>2</td>

                </tr>

            </table>
        </td>
    </tr>


</table>

</form>
</body>
</html>